<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="hero bg-base-200 my-6">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">About</h1>
      <p class="py-6">All about me</p>
    </div>
  </div>
</div>

<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <h2 class="text-xl font-bold">Hi! I'm Iqreet Kaur</h2>
    <p>I am a student a Seneca Polytechnic studying Computer Programming (CPP).</p>
  </div>
</div>

</body>
</html>